<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
    	<setting name="jdbcTypeForNull" value="NULL"/> <!-- null데이터 전달시 그대로 null로 대입 -->
    	<setting name="mapUnderscoreToCamelCase" value="true"/> <!-- 카멜케이스 형식으로 변환해줌 -->
  </settings>
</configuration>